<div class="main-content">
    <div class="cover-holder d-flex mx-auto flex-column">
        <!-- trending.ejs -->
        <div class="body" id="randomContent">
            <% tag.forEach(tag=> { %>
                <div class="content-box">
                    <h4>
                        <%= tag.name %>
                    </h4>
                    <br />
                    <% tag.Stories.forEach(story=> { %>
                        <h4>
                            <a href="<%= `/stories/${story._id}/show` %>">
                                <%= story.title %>
                            </a>
                        </h4>
                        <br />
                        <div class="txtCaption">
                            <%= story.content %>
                        </div>
                        <br />
                        <div class="txtAuthor">Post by:
                            <a href="<%= `/users/${story.author}` %>">
                                <%= story.author %>
                            </a>
                        </div>
                </div>
                <br />
                <% }); %>
                    <% }); %>
        </div>
    </div>
</div>