<div class="container main-content">
  <div class="col-sm-10 mx-auto text-center table-responsive">
    <table class="col-sm-10 table-dark mx-auto table table-striped table-hover">
      <thead>
        <tr class="">
          <th colspan="2" scope="col text-center">
            <%= `${user.name.firstName.replace(/\w/, c=> c.toUpperCase())}
            ${user.name.lastName.replace(/\w/, c=> c.toUpperCase())}` %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%" class="text-right">Name:</td>
          <td style="width: 50%" class="text-left">
            <%= `${user.name.firstName.replace(/\w/, c=> c.toUpperCase())}
            ${user.name.lastName.replace(/\w/, c=> c.toUpperCase())}` %>
          </td>
        </tr>
        <tr>
          <td class="text-right">Username:</td>
          <td class="text-left"><%= user.username %></td>
        </tr>
        <tr>
          <td class="text-right">Date of Birth:</td>
          <td class="text-left"><%= user.dob.toLocaleDateString("en-US") %></td>
        </tr>
        <tr>
          <td class="text-right">Gender:</td>
          <td class="text-left"><%= user.gender %></td>
        </tr>
        <tr>
          <td class="text-right">Email:</td>
          <td class="text-left"><%= user.email %></td>
        </tr>
        <tr>
          <td class="text-right">Street:</td>
          <td class="text-left">
            <%= user.location.street.replace(/\w/, c=> c.toUpperCase()) %>
          </td>
        </tr>
        <tr>
          <td class="text-right">City:</td>
          <td class="text-left">
            <%= user.location.city.replace(/\w/, c=> c.toUpperCase()) %>
          </td>
        </tr>
        <tr>
          <td class="text-right">State:</td>
          <td class="text-left">
            <%= user.location.state.replace(/\w/, c=> c.toUpperCase()) %>
          </td>
        </tr>
        <tr>
          <td class="text-right">City:</td>
          <td class="text-left"><%= user.location.zipCode %></td>
        </tr>
        <tr>
          <td class="text-right"><%= user.security_questions.question %>:</td>
          <td class="text-left"><%= user.security_questions.answer %></td>
        </tr>
        <tr>
          <td class="text-right">Bio:</td>
          <td class="text-left"><%= user.bio %></td>
        </tr>
        <tr>
          <td class="text-right">Stories:</td>
          <td class="text-left"><%= user.Stories.length %></td>
        </tr>
        <tr>
          <td class="text-right">
            <a href="<%= `/users/${user._id}/edit` %>" class="btn btn-warning"
              >Edit</a
            >
          </td>
          <td class="text-left">
            <a
              href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure?')"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        <tr>
          <td colspan="2" scope="col" class="password-change text-center">
            <a href="<%= `/users/${user._id}/change` %>">Change Password</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
